
{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
<h1 class="titre_creation">Création nouveau article</h1>
{# vérification si l'utilisateur est connecté => si oui => création de l'article possible, sinon => form de login#}
<a class="title-link link_creation" {% if app.user %} href="{{ path('article_creation') }}" {% else %} href="{{ path('app_login') }}" {% endif %}>Nouveau article</a>
<h1>Affichage de tous les articles</h1>
<table class="table-titres table w-auto">
    <thead class="thead-dark">
        <tr>
            <th>Titres</th>
            <th>Nombre de votes</th>
        </tr>
    </thead>
    <tbody>
        {% for val in articles%}
        <tr>
            {# vérification si l'utilisateur est connecté => si oui => affichage de détail, sinon => form de login#}
            <td><a class="title-link" {% if app.user %} href="{{ path('affichage_article', {'id': val.id}) }}" {% else %} href="{{ path('app_login') }}" {% endif %}>{{ val.getTitre() }}</a></td> 
            <td><p>{{ val.getVotesTotal() }}</p></td>           
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
